<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xenon.mapper.MaterialMapper">

    <resultMap id="BaseResultMap" type="com.xenon.entity.Material">
            <id property="materialId" column="material_id" jdbcType="BIGINT"/>
            <result property="materialName" column="material_name" jdbcType="VARCHAR"/>
            <result property="materialPrice" column="material_price" jdbcType="DECIMAL"/>
            <result property="materialUnitId" column="material_unit_id" jdbcType="BIGINT"/>
            <result property="materialTypeId" column="material_type_id" jdbcType="BIGINT"/>
            <result property="materialStatusId" column="material_status_id" jdbcType="BIGINT"/>
            <result property="adminId" column="admin_id" jdbcType="BIGINT"/>
            <result property="isAllocated" column="is_allocated" jdbcType="INTEGER"/>
            <result property="supplierId" column="supplier_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        material_id,material_name,material_price,
        material_unit_id,material_type_id,material_status_id,
        admin_id,allocation_id,supplier_id
    </sql>
</mapper>
