<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xenon.mapper.MaterialUnitMapper">

    <resultMap id="BaseResultMap" type="com.xenon.entity.MaterialUnit">
            <id property="materialUnitId" column="material_unit_id" jdbcType="BIGINT"/>
            <result property="materialUnitName" column="material_unit_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        material_unit_id,material_unit_name
    </sql>
</mapper>
