<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xenon.mapper.MaterialStatusMapper">

    <resultMap id="BaseResultMap" type="com.xenon.entity.MaterialStatus">
            <id property="materialStatusId" column="material_status_id" jdbcType="BIGINT"/>
            <result property="materialStatusName" column="material_status_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        material_status_id,material_status_name
    </sql>
</mapper>
