<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xenon.mapper.SupplierMapper">

    <resultMap id="BaseResultMap" type="com.xenon.entity.Supplier">
            <id property="supplierId" column="supplier_id" jdbcType="BIGINT"/>
            <result property="supplierName" column="supplier_name" jdbcType="VARCHAR"/>
            <result property="supplierAddress" column="supplier_address" jdbcType="VARCHAR"/>
            <result property="contactPerson" column="contact_person" jdbcType="VARCHAR"/>
            <result property="contactNumber" column="contact_number" jdbcType="VARCHAR"/>
            <result property="contactEmail" column="contact_email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        supplier_id,supplier_name,supplier_address,
        contact_person,contact_number,contact_email
    </sql>
</mapper>
