<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xenon.mapper.AllocationMapper">

    <resultMap id="BaseResultMap" type="com.xenon.entity.Allocation">
            <id property="allocationId" column="allocation_id" jdbcType="INTEGER"/>
            <result property="materialId" column="material_id" jdbcType="INTEGER"/>
            <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
            <result property="allocationDate" column="allocation_date" jdbcType="DATE"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="allocateAmount" column="allocate_amount" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        allocation_id,material_id,department_id,
        allocation_date,user_id,allocate_amount
    </sql>
</mapper>
